<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
  
  <div class="card">
    <div class="card-header bg-dark text-white">{{ titulo }}</div>
    <div class="card-body">
  
      <form #serieForm="ngForm">
        <div class="form-group row">
          <label for="title" class="col-form-label col-sm-2">Titulo</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="serie.title" name="title" #title="ngModel"> <!-- required minlength="4" -->
            <div class="alert alert-danger" *ngIf="title.invalid && (title.dirty || title.touched)">
              <div *ngIf="title.errors.required">
                Titulo es requerido
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="description" class="col-form-label col-sm-2">Descripcion</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="serie.description" name="description" #description="ngModel"> <!-- required -->
            <div class="alert alert-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
              <div *ngIf="description.errors.required">
                Descripcion es requerida
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="premiereDate" class="col-form-label col-sm-2">Fecha de estreno</label>
          <div class="col-sm-6">
            <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="serie.premiereDate" name="premiereDate" style="display:inline; width:300px;">
            <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #miDatepicker></mat-datepicker>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!serie.id else elseBlock" [disabled]="!serieForm.form.valid">Crear</button>
  
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!serieForm.form.valid">Editar</button>
            </ng-template>
          </div>
        </div>
      </form>
  
    </div>
  </div>
  