<detalle-serie *ngIf="serieSeleccionado" [serie] ="serieSeleccionado"></detalle-serie>

<div class="card border-primary mb-3">
  <div class="card-header">Series</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de series</h5>
    <div class="my-2 text-left">
      <!-- <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
        Crear Cliente
      </button> -->
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/serie/form']">
        Crear serie
      </button>
    </div>
    <div *ngIf="series?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="series?.length>0">
      <thead>
        <tr>
          <th>#</th>
          <th>title</th>
          <th>description</th>
          <th>premiereDate</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series">
          <td><img (click)="abrirModal(serie)" *ngIf="serie?.foto"
            src="http://localhost:8090/app/serie/uploads/img/{{serie.foto}}" alt="{{serie.foto}}" class="img-thumbnail rounded"
            style="width:64px; cursor: pointer;">

            <img (click)="abrirModal(serie)" *ngIf="!serie?.foto"
              src="http://localhost:8090/app/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded"
              style="width:64px; cursor: pointer;">
            </td>
            <!-- <td><button class="btn btn-rounded btn-primary" type="button" (click)="abrirModal(serie)"><i class="fas fa-eye"></i></button></td> -->
          <td>{{ serie.title }}</td>
          <td>{{ serie.description }}</td>
          <td>{{ serie.premiereDate | date:"EEEE dd, MMMM yyyy"}}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/serie/form', serie.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(serie)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>
