<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
            <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
    
                <div class="col-sm">
                  <ul *ngIf="serie" class="list-group text-dark mb-3">
                    <li class="list-group-item active">{{serie.title}}</li>
                    <li class="list-group-item">{{serie.description}}</li>
                    <li class="list-group-item">{{serie.premiereDate | date:"fullDate"}}</li>
                  </ul>

                  <ul *ngIf="serie" class="list-group text-dark mb-3">
                    <tr *ngFor="let season of serie.seasons">
                      <li class="list-group-item">Temporada {{season.id.season_id}} : {{season.episodes}} episodios</li>
                    </tr>
                  </ul>

                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                      <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
                    </div>
                    <div class="input-group-append">
                      <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                    </div>
                  </div>
    
                  <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                      {{progreso}}%
                    </div>
                  </div>
    
    
                </div>

                <div class="col-sm">
                  <img *ngIf="serie?.foto" src="http://localhost:8090/app/serie/uploads/img/{{serie.foto}}" alt="{{serie.foto}}" class="img-thumbnail rounded">
                </div>
    
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    